*{
    font-family: 'Roboto Slab', serif;
}

h1{
    font-weight: bold;
}

h5{
    font-weight: lighter;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 5px;
    background-color: #11122a;
    border: none;
    border-radius: 10px;
}

.profile{
    width: 100%;
    background-color: #11122a;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px black;
}

.profile-photo img{
    width: 200px;
}

.profile-content{
    color: rgb(255, 255, 255);
    text-align: left;
}

.profile-content h1{
    margin: 0;
}

.social-media-container{
    margin-top: 20px;
    text-align: center;
}

.social-media-item{
    width: 64px;
    margin-right: 10px;
    transition: transform .1s;
}

.social-media-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.table-container{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    background-color: #11122a;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 10px black;
    margin-bottom: 20px;
}

.table-container p{
    color: white;
    opacity: .5;
    font-size: 20px;
}

.table-container img{

}

.code {
    width: 100%;
    background-color: #0b0c1d;
    box-shadow: 0px 0px 5px black;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.code pre {
    color: white;
    opacity: 60%;
    font-size:larger;
}

.blog-back {
    margin-left: 20px;
    transition: transform .1s;
    cursor: pointer;
    position: sticky;
    top: 20px;
    margin-top: 20px;
}

.blog-back:hover{
    transform: scale(1.1);
}

.table-item .col{
    height: 128px;
    background-color: #0b0d20;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    cursor: pointer;
}

.table-item img{
    width: 120%;
    overflow-clip-margin: content-box;
    overflow: clip;
    position: relative;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .2s, filter .2s;
}

.table-item .col:hover img{
    transform: translate(-50%, -50%) scale(1.1) !important;
    filter: blur(5px) brightness(50%);
}

.table-item-description{
    color: white;
    position: absolute;
    text-align: center;
    width: 80%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .1s;
    pointer-events: none;
    line-height: 5;
}

.table-item .col:hover .table-item-description{
    opacity: 1;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #11122a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .footer a:hover{
    cursor: default;
  }

  .footer a:link{
    color: white;
    text-decoration: none;
  }
  .footer a:visited{
    color: white;
    text-decoration: none;
  }

  .using{
    width: 256px;
    padding-right: 10px;
    padding-left: 10px;
    transition: transform .1s;
    padding-top: 5px;
  }

  .using:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .game-img{
    width: 100%;
    
  }
  
  .table-container .column{
    margin-top: 20px;
    color: white;
    opacity: 40%;
    margin-left: 20px;
    float:  left;
    width: 40%;
  }

  .table-container p{
    margin-top: 10px;
  }